<!DOCTYPE html>
<html>
	<head>
		<% include partial/css %>
		<style type="text/css">
		/* ===== Thumbnail ===== */

.thumbnail {
  background: none;
  position: relative;
  border: 0;
  padding: 0;
  margin-bottom: 0;
  text-align: center;
}
.thumbnail .caption {
  padding: 12px 0 0 0;
  text-align: left;
}
.thumbnail .caption.text-center {
  text-align: center;
}
.thumbnail .caption h6 small {
  display: block;
  margin-top: 4px;
}


.thumbnail-boxed .caption { 
  padding: 12px 12px; 
}
.caption .caption-title { 
  font-size: 14px; 
  font-weight: 600; 
  margin-bottom: 8px; 
  display: block; 
}

.thumbnail-boxed {
  border: 1px solid #ddd;
  padding: 2px;
  border-radius: 2px;
  background-color: #fff;
}
.thumbnail-boxed .item-info {
  margin-bottom: 12px;
}

.thumbnail img,
.thumbnail a img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  z-index: 2;
  border-radius: 2px;
}

.thumb { 
  position: relative; 
  display: inline-block; 
}
.thumb:hover 
.thumb-options {
  opacity: 1;
}

.thumbnail iframe {
  width: 100%;
  max-width: 100%;
  height: 250px;
  border: 0;
}


/* Thumb options on hover */

.thumb-zoom { 
  background: #32434D url(../images/interface/zoom.png) no-repeat 50%; 
  display: inline-block; 
  border-radius: 2px; 
  border: 0; 
}
.thumb-zoom img { 
  opacity: 1; 
}
.thumb-zoom:hover img { 
  opacity: 0.2; 
}


.thumb-options {
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(50,67,77,0.8);
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
}
.thumb-options span {
  display: block;
    top: 50%;
  position: absolute;
  margin-top: -17px;
  width: 100%;

}
.thumb-options span a + a {
  margin-left: 5px;
}
		</style>
	</head>
	<body data-spy="scroll" data-target="blog-detail-2.htmlscrollspy">

		<!-- THE HEADER -->
		<% include partial/header %>


		<!-- MAIN CONTENT -->
		<div id="content-block">
			<div class="editor-menu">
				<div class="container">
					<div class="buttons-navbar">
						<button type="button" onclick="save();" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
			<div class="container be-detail-container">
				<div class="row">
					<div class="col-xs-12 col-md-3 left-feild">
						<div class="be-vidget back-block">
							<a class="btn full color-1 size-1 hover-1" href="/"><i class="fa fa-chevron-left"></i>Voltar</a>
						</div>
						<div class="be-vidget hidden-xs hidden-sm" id="scrollspy">
							<h3 class="letf-menu-article">
								Seção
							</h3>
							<div class="creative_filds_block">
								<ul class="ul nav">
									<li class="edit-ln"><a href="#basic-information">Informações Basicas</a></li>
									<li class="edit-ln"><a href="#edit-password">Edit Password</a></li>
									<li class="edit-ln"><a href="#on-the-web">On The Web</a></li>
									<li class="edit-ln"><a href="#about-me">About Me</a></li>
									<li class="edit-ln"><a href="#web-references">Web References</a></li>
								</ul>
							</div>
						</div>

					</div>
					<div class="col-xs-12 col-md-9 _editor-content_">
						<div class="sec" data-sec="basic-information">
							<div class="be-large-post">
								<div class="info-block style-2">
									<div class="be-large-post-align "><h3 class="info-block-label">Informações basicas</h3></div>
								</div>

								<div class="be-large-post-align">
									<div class="row">
										<div class="input-col col-xs-12 col-sm-6">
											<div class="form-group fg_icon focus-2">
												<div class="form-label">Tipo Thumb</div>
												<select class="form-input" id="typeThumb">
													<option value="1">Imagem</option>
													<option value="2">Video</option>
												</select>
											</div>							
										</div>
									</div>
								</div>
								
								
								<div class="be-large-post-align" id="divThumbImage">
									<div class="row">
										<div class="input-col col-xs-12 col-sm-5" >
									    	<div class="thumbnail">
									    		<div class="thumb">
													<img id="imagePost" alt="" src="http://placehold.it/269x202">
													<div class="thumb-options">
														<span>
															<a href="javascript:void(0);" onclick="document.getElementById('fileImage').click(); " class="btn btn-icon btn-success">
																<i class="icon-upload"></i>
															</a>
															<a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
														</span>
													</div>
										    	</div>
									    	</div>
									   </div>
									</div>
								</div>
								
								<div class="be-large-post-align" id="divThumbVideo" style="display:none;">
									<div class="input-col col-xs-12 col-sm-12">
										<div class="form-group fg_icon focus-2">
											<input class="form-input" type="text" id="videoThumb" placeholder="Ex.: https://www.youtube.com/embed/CRLCe-q_R0A">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="block">
										    <div class="thumbnail thumbnail-boxed">
										    	<div class="thumb">
													<iframe src="http://www.youtube.com/embed/yo3M6EB8kmk" id="frameVideo"></iframe>
											    </div>
										    </div>
										</div>
									</div>
								</div>
							

								<div class="be-large-post-align">
									<div class="row">
										
										<div class="input-col col-xs-12 col-sm-12">
											<div class="form-group fg_icon focus-2">
												<div class="form-label">Titulo</div>
												<input class="form-input" type="text" id="title" placeholder="Titulo">
											</div>							
										</div>
										<div class="input-col col-xs-12 col-sm-12">
											<div class="form-group fg_icon focus-2">
												<div class="form-label">Descrição</div>
												<textarea class="form-input" id="description"></textarea>
												
											</div>							
										</div>
										<div class="input-col col-xs-12 col-sm-6">
											<div class="form-group fg_icon focus-2">
												<div class="form-label">Tags</div>
												<input class="form-input" type="text" id="tags" placeholder="Tags">
											</div>							
										</div>
										<div class="input-col col-xs-12 col-sm-12">
											<div class="form-group fg_icon focus-2">
												<div class="form-label">Video</div>
												<input class="form-input" type="text" id="video" placeholder="Ex.: https://www.youtube.com/embed/CRLCe-q_R0A">
											</div>							
										</div>
										<div class="input-col col-xs-12 col-sm-12">
											<div class="form-group fg_icon focus-2">
												<div id="editor">

                                				</div>	
											</div>							
										</div>
															
									</div>
								</div>
							</div>
						</div>
																		
					</div>				
				</div>
			</div>
		</div>

		<input type="file" id="fileImage" onchange="OnChangeImage(this);" style="display: none;">
	
		<% include partial/footer %>
		<script src="\script\ckeditor\ckeditor.js"></script>
		<script src="\script\ckeditor\sample.js"></script>
		<script src="\script\tags.min.js"></script>
		<script>
			var image;
			$(function(){
				initSample('');

				$("#tags").tagsInput({
	                width:'100%'
	            });

				$("#videoThumb").blur(function(){
					$("#frameVideo").attr('src', $(this).val());
				});

	            $("#typeThumb").change(function(){
	            	var type = $("#typeThumb option:selected").val();
	            	

					if(type == 1){
						$("#divThumbVideo").hide();
						$("#divThumbImage").show();
	            	}

	            	if(type == 2){
						$("#divThumbVideo").show();
						$("#divThumbImage").hide();
	            	}
	            });
			})

			function save(){
				var tags = new Array();

                if ($("#tags").val().length !== 0) {
                    for (var i in $("#tags").val().split(',')) {
                        var tag = $("#tags").val().split(',')[i];

                        tags.push(tag);
                    }
                }

				var obj = {
					title: $("#title").val(),
					description: $("#description").val(),
					content: CKEDITOR.instances.editor.getData(),
					video: $("#video").val(),
					videoThumb: $("#videoThumb").val(),
					image: image,
					imageExtension: imageExtension,
					tags: tags,
					user: ''
				}

				ajax.send({
                    url: "/api/post",
                    data: JSON.stringify(obj),
                    method: "POST",
                    beforeSend: function() {

                    },
                    success: function(response) {
                        location.href = '/post/' + response.url;
                    },
                    complete: function() {
                    },
                    error: function(error) {

                    }
                });
			}

			function ReadImage(inputElement) {
	            var deferred = $.Deferred();

	            var files = inputElement.get(0).files;
	            if (files && files[0]) {
	                var fr = new FileReader();
	                fr.onload = function(e) {
	                    deferred.resolve({ base: e.target.result, base64: e.target.result.substring(e.target.result.indexOf(',') + 1), type: files[0].type, name: files[0].name });
	                };
	                fr.readAsDataURL(files[0]);
	            } else {
	                deferred.resolve(undefined);
	            }

	            return deferred.promise();
	        }

			function OnChangeImage(element) {
	            var inputElement = $(element);

	            ReadImage(inputElement).done(function(file) {
	                image = file.base64;
	                imageExtension = file.type;

	                $("#imagePost").attr('src', file.base);
	            });
	        }
		</script>
	</body>
</html>